ul.nav li{
    display: inline-block;
    padding-right: 10px;
}

#about_blue{
  background-color: #F0F8FF;
  border: 3px solid black;
}

#about_yellow{
  background-color: #FFEBCD;
  border: 3px solid black
}

#about_blue li{
  color: blue
}

#about_yellow li{
  color:orange
}

.important{
  font-size: 16px;
  font-weight: bold
}

.nav{
  background-color: red
}

.nav a{
  color: white
}
